:root {
    --main: #555555;
    --dark: #333333;
    --light: #999999;
}

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: var(--main);
}

#sidebar {
    min-width: 15em;
    max-width: 15em;
    min-height: 100vh;

    /* Keep it from moving */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: var(--dark);
    color: white;
}

#sidebar ul.components {
    vertical-align: middle;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}